body {
    background: rgb(233, 227, 227)
}

.form-control:focus {
    box-shadow: none;
    border-color: #434242
}

.profile-button {
    background: #434242;
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #434242
}

.profile-button:focus {
    background: #434242;
    box-shadow: none
}

.profile-button:active {
    background: #434242;
    box-shadow: none
}

.back:hover {
    color: #434242;
    cursor: pointer
}

.labels {
    font-size: 15px
}

.add-experience:hover {
    background: #434242;
    color: #cc5858;
    cursor: pointer;
    border: solid 1px #434242
}

.insertmembers {
    max-height: 100%;
    padding: 50px;
    background-color: #d0bcc2;
    position: absolute;
    overflow: hidden;
    width: 130vh;
    max-width: 200%;
    height: 605px;
    left: 330px;
    top: 90px;
    border-radius: 10px;
}